<!DOCTYPE html>
<html>
<head>
	<title>Husky Blogs Explore</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/style.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<a href="/profile" class="navigational">Profile</a>
	<a href="/dashboard">Dashboard</a>
	<h1 class="husky-logo">
		Husky Blogs
		<br/>
		<% include ./partials/searchbutton %>
	</h1>

	<h2> <%= info.search.title %> </h2>

	<br/>


	<% info.posts.forEach((post) =>{ %>
		<hr/>
		<div class="following-post">
			<div class="following-user">
				<br/>
				<br/>
				<p>Posted By</p>
				<img src=<%= post.bloggerpic%> class="user-image"/>
				<p><%= post.bloggername %></p>
				<br/>
				<button class="btn">Reblog This Post</button>
				<br/>
				<br/>
				<button class="btn btn-red">Follow This User</button>
			</div>
			<div class="user-post">
				<h3><%= post.title%></h3>
				<img src=<%= post.image %> class="post-image" />
				<p class="post-description"><%= post.description %></p>
			</div>
		</div>
		<hr/>
	<% })%>

	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/searchforimages.js"></script>
	<script type="text/javascript" src="/js/dashboard.js"></script>
</body>
</html>