<!DOCTYPE html>
<html>
<head>
	<title>Husky Blogs Profile</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/style.css" />
</head>
<body>

	<a href="/dashboard" class="navigational">Dashboard</a>
	<h1 class="husky-logo">
		Husky Blogs
		<br/>
		<% include ./partials/searchbutton %>
	</h1>


	<h2> <%= profile.username %> </h2>
		<br/>

	<hr/>
		<br/>
		<br/>

	<h3> Followers </h3> 
	<hr/>
	<% profile.followers.forEach((follower) => { %>
		<a href="/profile/<%= follower.id %>" class="follower-account"> <%=  follower.username %> </a>
	<%  }) %>

	<br/>
	<h3> Following </h3> 
	<hr/>
	<% profile.following.forEach((following) => { %>
		<a href="/profile/" <%= following.id %> class="following-account">following.username</a>
	<%  }) %>
	<hr/>


	<h3>Posts</h3>
	<% profile.posts.forEach((post) =>{ %>
		
		<div class="following-post">
			<div class="following-user">
				<br/>
				<br/>
				<p>Posted By</p>
				<img src=<%= post.bloggerpic%> class="user-image"/>
				<p><%= post.bloggername %></p>
				<br/>
				<button class="btn">Reblog This Post</button>
			</div>
			<div class="user-post">
				<h3><%= post.title%></h3>
				<img src=<%= post.image %> class="post-image" />
				<p class="post-description"><%= post.description %></p>
			</div>
		</div>
		<hr/>
	<% })%>

	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/profile.js"></script>
</body>
</body>
</html>



